body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sILpRzdVrg .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 16px;
  position: absolute;
  right: 1rem;
  top: 30%;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sILpRzdVrg .nav-item,
.cid-sILpRzdVrg .nav-link,
.cid-sILpRzdVrg .navbar-caption {
  font-weight: normal;
}
.cid-sILpRzdVrg .nav-item:focus,
.cid-sILpRzdVrg .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-sILpRzdVrg .dropdown-item:hover:before {
    transform: scale(1, 1);
  }
}
.cid-sILpRzdVrg .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sILpRzdVrg .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-sILpRzdVrg .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-sILpRzdVrg .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:before {
  display: none;
}
.cid-sILpRzdVrg .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-sILpRzdVrg .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sILpRzdVrg .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sILpRzdVrg .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sILpRzdVrg .collapsed .icons-menu {
  padding-left: 16px;
}
.cid-sILpRzdVrg .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #000000;
}
.cid-sILpRzdVrg .navbar.opened {
  transition: all 0.3s;
  background: #000000 !important;
}
.cid-sILpRzdVrg .navbar .dropdown-item {
  padding: 0.235rem 2.5rem 0.235rem 1.5rem;
}
.cid-sILpRzdVrg .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sILpRzdVrg .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sILpRzdVrg .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sILpRzdVrg .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-sILpRzdVrg .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sILpRzdVrg .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-sILpRzdVrg .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sILpRzdVrg .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
  justify-content: center;
}
.cid-sILpRzdVrg .navbar.collapsed .icons-menu {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sILpRzdVrg .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sILpRzdVrg .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sILpRzdVrg .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-sILpRzdVrg .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sILpRzdVrg .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sILpRzdVrg .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sILpRzdVrg .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sILpRzdVrg .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
    justify-content: center;
  }
  .cid-sILpRzdVrg .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-sILpRzdVrg .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sILpRzdVrg .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sILpRzdVrg .navbar.navbar-short {
  background: #000000 !important;
  min-height: 60px;
}
.cid-sILpRzdVrg .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sILpRzdVrg .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-sILpRzdVrg .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sILpRzdVrg .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sILpRzdVrg .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sILpRzdVrg .navbar-brand .navbar-logo a img {
  width: auto;
}
.cid-sILpRzdVrg .dropdown-item.active,
.cid-sILpRzdVrg .dropdown-item:active {
  background-color: transparent;
}
.cid-sILpRzdVrg .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sILpRzdVrg .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sILpRzdVrg .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-sILpRzdVrg .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sILpRzdVrg .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sILpRzdVrg ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sILpRzdVrg .navbar-buttons {
  text-align: center;
}
.cid-sILpRzdVrg .navbar-buttons .btn.btn-sm {
  padding: 6px 24px !important;
  min-width: 140px;
  line-height: 1.5;
}
.cid-sILpRzdVrg button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sILpRzdVrg button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sILpRzdVrg button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sILpRzdVrg button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sILpRzdVrg button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sILpRzdVrg button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sILpRzdVrg nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sILpRzdVrg nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sILpRzdVrg nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sILpRzdVrg nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sILpRzdVrg .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-sILpRzdVrg a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-sILpRzdVrg .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-sILpRzdVrg .soc-item {
  margin: 0.5rem 0.3rem;
}
.cid-sILpRzdVrg .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-right: 1rem;
  text-align: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sILpRzdVrg .navbar {
    height: 77px;
  }
  .cid-sILpRzdVrg .navbar.opened {
    height: auto;
  }
  .cid-sILpRzdVrg .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-svHUPgk0oj {
  padding-top: 225px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/mbr-1.jpg");
}
.cid-svHUPgk0oj .mbr-section-title {
  margin-bottom: 1.8rem;
}
.cid-svHUPgk0oj .mbr-text {
  margin-bottom: 2.7rem;
}
@media (max-width: 767px) {
  .cid-svHUPgk0oj .align-center {
    text-align: center;
  }
}
.cid-svHUPgk0oj .mbr-text,
.cid-svHUPgk0oj .mbr-section-btn {
  text-align: center;
  color: #ffe161;
}
.cid-svHX4u7Nsw {
  background-image: url("../../../assets/images/mbr-4.jpg");
}
.cid-svHX4u7Nsw .mbr-text,
.cid-svHX4u7Nsw .mbr-section-btn {
  color: #bbbbbb;
}
.cid-svHX4u7Nsw .mbr-section-subtitle {
  color: #ff9966;
}
.cid-sILtR7AecC {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #052869;
  background: linear-gradient(-45deg, rgba(5, 40, 105, 0.8), #000000);
}
.cid-sILtR7AecC .title_block {
  margin-bottom: 50px;
}
.cid-sILtR7AecC .mbr-section-subtitle {
  margin-bottom: 16px;
  color: #ffffff;
  letter-spacing: 1.6px;
  line-height: 1;
  font-weight: 600;
}
.cid-sILtR7AecC .mbr-section-title {
  color: #ffffff;
}
.cid-sILtR7AecC .item:nth-child(1) .iconfont-wrapper {
  box-shadow: 0px 14px 30px 0px rgba(101, 146, 230, 0.4);
  background-image: linear-gradient(40deg, #6592e6 0%, #bdd0f4 100%);
}
.cid-sILtR7AecC .item:nth-child(2) .iconfont-wrapper {
  box-shadow: 0px 14px 30px 0px rgba(64, 176, 191, 0.4);
  background-image: linear-gradient(40deg, #40b0bf 0%, #8cd0d9 100%);
}
.cid-sILtR7AecC .item:nth-child(3) .iconfont-wrapper {
  box-shadow: 0px 14px 30px 0px rgba(255, 225, 97, 0.4);
  background-image: linear-gradient(40deg, #ffe161 0%, #fff4c7 100%);
}
.cid-sILtR7AecC .item:nth-child(4) .iconfont-wrapper {
  box-shadow: 0px 14px 30px 0px rgba(255, 153, 102, 0.4);
  background-image: linear-gradient(40deg, #ff9966 0%, #ffddcc 100%);
}
.cid-sILtR7AecC .item:nth-child(5) .iconfont-wrapper {
  box-shadow: 0px 14px 30px 0px rgba(71, 181, 237, 0.4);
  background-image: linear-gradient(40deg, #47b5ed 0%, #a4daf6 100%);
}
.cid-sILtR7AecC .item:nth-child(6) .iconfont-wrapper {
  box-shadow: 0px 14px 30px 0px rgba(255, 102, 102, 0.4);
  background-image: linear-gradient(40deg, #ff6666 0%, #ffcccc 100%);
}
.cid-sILtR7AecC .iconfont-wrapper {
  left: 50%;
  top: -35px;
  width: 70px;
  height: 70px;
  text-align: center;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-50%);
}
.cid-sILtR7AecC .iconfont-wrapper .mbr-iconfont {
  color: #ffffff;
  font-size: 34px;
  line-height: 70px;
}
.cid-sILtR7AecC .card_wrap {
  padding: 45px;
  padding-top: 65px;
  margin-top: 60px;
  border-radius: 5px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.cid-sILtR7AecC .card_wrap:hover {
  transform: translateY(-16px);
}
.cid-sILtR7AecC .card_title {
  margin-bottom: 20px;
  color: #ff6666;
}
@media (max-width: 991px) {
  .cid-sILtR7AecC .title_block {
    margin-bottom: 30px;
  }
  .cid-sILtR7AecC .card_wrap {
    padding: 35px;
    padding-top: 65px;
  }
}
.cid-sILgBVk9gP {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #dbe0e9;
}
@media (max-width: 767px) {
  .cid-sILgBVk9gP .container-fluid {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
.cid-sILgBVk9gP h5,
.cid-sILgBVk9gP h4,
.cid-sILgBVk9gP p {
  margin-bottom: 0;
}
.cid-sILgBVk9gP p {
  color: #767676;
}
.cid-sILgBVk9gP .card-img {
  padding: 0;
  width: auto;
}
.cid-sILgBVk9gP .mbr-section-btn {
  margin: 0;
  margin-top: 1.2rem;
  border-top: 1px solid #cccccc;
}
.cid-sILgBVk9gP .mbr-section-btn .btn {
  margin-top: 1.2rem !important;
}
.cid-sILgBVk9gP .card-wrapper {
  transition: all 0.3s;
  background-color: #ffffff;
}
.cid-sILgBVk9gP .card-wrapper:hover {
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
}
.cid-sILgBVk9gP .card-box {
  padding: 2rem;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sILgBVk9gP .card-box {
    padding: 2rem 0 0;
  }
  .cid-sILgBVk9gP .card-wrapper {
    display: block !important;
  }
}
.cid-sILgBVk9gP .card-wrapper {
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.cid-sILgBVk9gP .card-title,
.cid-sILgBVk9gP .main-title {
  color: #57468b;
}
.cid-sILgBVk9gP .mbr-text,
.cid-sILgBVk9gP .mbr-section-btn {
  color: #000000;
}
.cid-skNTCoFwM1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-skNTCoFwM1 .timeline-element {
  position: relative;
}
.cid-skNTCoFwM1 .timelines-container {
  display: flex;
  flex-wrap: wrap;
}
.cid-skNTCoFwM1 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-skNTCoFwM1 .mbr-section-title,
.cid-skNTCoFwM1 .mbr-section-subtitle,
.cid-skNTCoFwM1 .timeline-date {
  text-align: center;
}
.cid-skNTCoFwM1 .iconBackground {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #6592e6;
  margin-left: -9px;
}
@media (max-width: 767px) {
  .cid-skNTCoFwM1 .iconBackground {
    left: 15px;
    top: 30px;
  }
}
@media (min-width: 768px) {
  .cid-skNTCoFwM1 .iconBackground {
    top: 70px;
    left: 50%;
  }
}
.cid-skNTCoFwM1 .row:after {
  content: "";
  position: absolute;
  background-color: #6592e6;
  width: 2px;
}
@media (max-width: 767px) {
  .cid-skNTCoFwM1 .row:after {
    height: calc(100% + 30px);
    top: 50px;
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-skNTCoFwM1 .row:after {
    height: calc(100% + 28px);
    top: 90px;
    left: 50%;
  }
}
@media (max-width: 767px) {
  .cid-skNTCoFwM1 .timeline-date-wrapper,
  .cid-skNTCoFwM1 .timeline-text-wrapper,
  .cid-skNTCoFwM1 .image-wrapper {
    padding: 0rem;
    padding-left: 2rem;
  }
  .cid-skNTCoFwM1 .mbr-timeline-date {
    text-align: center !important;
  }
  .cid-skNTCoFwM1 .mbr-timeline-title {
    text-align: center;
    margin-top: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-skNTCoFwM1 .timeline-date-wrapper,
  .cid-skNTCoFwM1 .timeline-text-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-skNTCoFwM1 .timeline-date-wrapper,
  .cid-skNTCoFwM1 .timeline-text-wrapper,
  .cid-skNTCoFwM1 .image-wrapper {
    padding: 2rem;
  }
}
.cid-svI2Wb9uIo {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-svI2Wb9uIo .video-wrapper iframe {
  width: 100%;
}
.cid-svI2Wb9uIo .mbr-section-title,
.cid-svI2Wb9uIo .mbr-section-subtitle,
.cid-svI2Wb9uIo .mbr-text {
  text-align: center;
}
.cid-svI2Wb9uIo .mbr-section-title {
  padding: 0;
  margin: 0;
  padding-bottom: 100px;
  color: #e43f3f;
}
.cid-svI2Wb9uIo .mbr-text {
  padding-top: 16px;
}
.cid-svI4ZdrlES {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-svI4ZdrlES .contacts-name {
  padding-bottom: 5px;
  margin: 0;
  color: #a3a6b2;
}
.cid-svI4ZdrlES .contacts-info {
  padding-bottom: 30px;
  color: #ffffff;
  margin: 0;
}
.cid-svI4ZdrlES .margin {
  margin-bottom: 10px;
}
.cid-svI4ZdrlES .mbr-section-title {
  color: white;
  margin-bottom: 20px;
  padding: 0;
}
.cid-svI4ZdrlES .description {
  color: #a3a6b2;
  margin-bottom: 50px;
  padding: 0;
}
.cid-svI4ZdrlES .title {
  font-size: 24px;
}
.cid-svI4ZdrlES .form-heading {
  margin-bottom: 40px;
}
.cid-svI4ZdrlES label {
  color: #ffffff;
  margin-bottom: 5px;
}
.cid-svI4ZdrlES input,
.cid-svI4ZdrlES textarea {
  background-color: #3F424E;
  margin-bottom: 30px;
}
.cid-svI4ZdrlES .gray-button {
  margin: 0;
  background-color: #3F424E;
  color: #ffffff;
}
.cid-svI4ZdrlES .mbr-section-btn {
  margin: 0;
  padding: 0;
}
.cid-svI4ZdrlES .form-group {
  padding: 0 5px;
  margin: 0;
}
.cid-svI4ZdrlES .left-side {
  padding: 0;
}
@media (max-width: 1000px) {
  .cid-svI4ZdrlES .gray-button {
    margin-bottom: 50px;
    margin-top: 0px;
  }
}
.cid-svI4ZdrlES .gray-button:hover {
  background-color: #5e6068;
}
.cid-svI4ZdrlES ::placeholder {
  color: #a3a6b2;
}
.cid-sILjQUQY6i.popup-builder {
  background-color: #ffffff;
}
.cid-sILjQUQY6i.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-sILjQUQY6i.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-sILjQUQY6i .modal-content,
.cid-sILjQUQY6i .modal-dialog {
  height: auto;
}
.cid-sILjQUQY6i .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-sILjQUQY6i .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-sILjQUQY6i .form-wrapper .mbr-form .form-group,
  .cid-sILjQUQY6i .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-sILjQUQY6i .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-sILjQUQY6i .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sILjQUQY6i .mbr-text {
  text-align: center;
}
.cid-sILjQUQY6i .pt-0 {
  padding-top: 0 !important;
}
.cid-sILjQUQY6i .pb-0 {
  padding-bottom: 0 !important;
}
.cid-sILjQUQY6i .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-sILjQUQY6i .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-sILjQUQY6i .modal-open {
  overflow: hidden;
}
.cid-sILjQUQY6i .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-sILjQUQY6i .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-sILjQUQY6i .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-sILjQUQY6i .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-sILjQUQY6i .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-sILjQUQY6i .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-sILjQUQY6i .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-sILjQUQY6i .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-sILjQUQY6i .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-sILjQUQY6i .modal-backdrop.fade {
  opacity: 0;
}
.cid-sILjQUQY6i .modal-backdrop.show {
  opacity: .5;
}
.cid-sILjQUQY6i .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-sILjQUQY6i .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sILjQUQY6i .modal-header {
    padding: 1rem;
  }
}
.cid-sILjQUQY6i .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-sILjQUQY6i .modal-header .close:hover {
  opacity: 1;
}
.cid-sILjQUQY6i .modal-header .close:focus {
  outline: none;
}
.cid-sILjQUQY6i .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-sILjQUQY6i .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 100%;
}
@media (min-width: 992px) {
  .cid-sILjQUQY6i .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sILjQUQY6i .modal-body {
    padding: 1rem;
  }
}
.cid-sILjQUQY6i .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-sILjQUQY6i .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sILjQUQY6i .modal-footer {
    padding: 1rem;
  }
}
.cid-sILjQUQY6i .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-sILjQUQY6i .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-sILjQUQY6i .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-sILjQUQY6i .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-sILjQUQY6i .modal-sm {
    max-width: 300px;
  }
  .cid-sILjQUQY6i .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-sILjQUQY6i .modal-lg,
  .cid-sILjQUQY6i .modal-xl {
    max-width: 800px;
  }
  .cid-sILjQUQY6i .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-sILjQUQY6i .modal-xl {
    max-width: 1140px;
  }
  .cid-sILjQUQY6i .container {
    max-width: 1140px;
  }
}
.cid-sILjQUQY6i .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-sILjQUQY6i .container {
    max-width: 720px;
  }
}
.cid-sILjQUQY6i .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-sILjQUQY6i .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-sILjQUQY6i .form-group {
  margin-bottom: 1rem;
}
.cid-sILjQUQY6i .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-sILjQUQY6i .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sILjQUQY6i .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-sILjQUQY6i .mbr-section-btn {
  margin: 0;
}
.cid-sILjQUQY6i .mbr-section-btn .btn {
  margin: 0;
}
.cid-skUl0ClPru {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-skUl0ClPru .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-skUl0ClPru .card {
    margin-bottom: 2rem!important;
  }
  .cid-skUl0ClPru .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-skUl0ClPru .link-wrap {
    align-items: center;
  }
}
.cid-skUl0ClPru .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-skUoLM40UC {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-skUoLM40UC .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-skUoLM40UC .card {
    margin-bottom: 2rem!important;
  }
  .cid-skUoLM40UC .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-skUoLM40UC .link-wrap {
    align-items: center;
  }
}
.cid-skUoLM40UC .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sl05YbWXzH {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sl05YbWXzH .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-sl05YbWXzH .card {
    margin-bottom: 2rem!important;
  }
  .cid-sl05YbWXzH .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-sl05YbWXzH .link-wrap {
    align-items: center;
  }
}
.cid-sl05YbWXzH .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sl09L4kXvH {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sl09L4kXvH .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-sl09L4kXvH .card {
    margin-bottom: 2rem!important;
  }
  .cid-sl09L4kXvH .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-sl09L4kXvH .link-wrap {
    align-items: center;
  }
}
.cid-sl09L4kXvH .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-skUw3Zyaq0 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-skUw3Zyaq0 .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-skUw3Zyaq0 .card {
    margin-bottom: 2rem!important;
  }
  .cid-skUw3Zyaq0 .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-skUw3Zyaq0 .link-wrap {
    align-items: center;
  }
}
.cid-skUw3Zyaq0 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-skUKbxaso2 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-skUKbxaso2 .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-skUKbxaso2 .card {
    margin-bottom: 2rem!important;
  }
  .cid-skUKbxaso2 .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-skUKbxaso2 .link-wrap {
    align-items: center;
  }
}
.cid-skUKbxaso2 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sl02HPEcrI {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sl02HPEcrI .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-sl02HPEcrI .card {
    margin-bottom: 2rem!important;
  }
  .cid-sl02HPEcrI .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-sl02HPEcrI .link-wrap {
    align-items: center;
  }
}
.cid-sl02HPEcrI .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-smaGapkRMT {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-smaGapkRMT .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-smaGapkRMT .card {
    margin-bottom: 2rem!important;
  }
  .cid-smaGapkRMT .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-smaGapkRMT .link-wrap {
    align-items: center;
  }
}
.cid-smaGapkRMT .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-smaPWc6poL {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-smaPWc6poL .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-smaPWc6poL .card {
    margin-bottom: 2rem!important;
  }
  .cid-smaPWc6poL .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-smaPWc6poL .link-wrap {
    align-items: center;
  }
}
.cid-smaPWc6poL .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-smaT4ikTqx {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-smaT4ikTqx .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-smaT4ikTqx .card {
    margin-bottom: 2rem!important;
  }
  .cid-smaT4ikTqx .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-smaT4ikTqx .link-wrap {
    align-items: center;
  }
}
.cid-smaT4ikTqx .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sILk0ZT1hA.popup-builder {
  background-color: #ffffff;
}
.cid-sILk0ZT1hA.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-sILk0ZT1hA.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-sILk0ZT1hA .modal-content,
.cid-sILk0ZT1hA .modal-dialog {
  height: auto;
}
.cid-sILk0ZT1hA .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-sILk0ZT1hA .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-sILk0ZT1hA .form-wrapper .mbr-form .form-group,
  .cid-sILk0ZT1hA .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-sILk0ZT1hA .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-sILk0ZT1hA .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sILk0ZT1hA .mbr-text {
  text-align: center;
}
.cid-sILk0ZT1hA .pt-0 {
  padding-top: 0 !important;
}
.cid-sILk0ZT1hA .pb-0 {
  padding-bottom: 0 !important;
}
.cid-sILk0ZT1hA .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-sILk0ZT1hA .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-sILk0ZT1hA .modal-open {
  overflow: hidden;
}
.cid-sILk0ZT1hA .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-sILk0ZT1hA .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-sILk0ZT1hA .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-sILk0ZT1hA .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-sILk0ZT1hA .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-sILk0ZT1hA .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-sILk0ZT1hA .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-sILk0ZT1hA .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-sILk0ZT1hA .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-sILk0ZT1hA .modal-backdrop.fade {
  opacity: 0;
}
.cid-sILk0ZT1hA .modal-backdrop.show {
  opacity: .5;
}
.cid-sILk0ZT1hA .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-sILk0ZT1hA .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sILk0ZT1hA .modal-header {
    padding: 1rem;
  }
}
.cid-sILk0ZT1hA .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-sILk0ZT1hA .modal-header .close:hover {
  opacity: 1;
}
.cid-sILk0ZT1hA .modal-header .close:focus {
  outline: none;
}
.cid-sILk0ZT1hA .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-sILk0ZT1hA .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 100%;
}
@media (min-width: 992px) {
  .cid-sILk0ZT1hA .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sILk0ZT1hA .modal-body {
    padding: 1rem;
  }
}
.cid-sILk0ZT1hA .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-sILk0ZT1hA .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sILk0ZT1hA .modal-footer {
    padding: 1rem;
  }
}
.cid-sILk0ZT1hA .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-sILk0ZT1hA .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-sILk0ZT1hA .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-sILk0ZT1hA .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-sILk0ZT1hA .modal-sm {
    max-width: 300px;
  }
  .cid-sILk0ZT1hA .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-sILk0ZT1hA .modal-lg,
  .cid-sILk0ZT1hA .modal-xl {
    max-width: 800px;
  }
  .cid-sILk0ZT1hA .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-sILk0ZT1hA .modal-xl {
    max-width: 1140px;
  }
  .cid-sILk0ZT1hA .container {
    max-width: 1140px;
  }
}
.cid-sILk0ZT1hA .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-sILk0ZT1hA .container {
    max-width: 720px;
  }
}
.cid-sILk0ZT1hA .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-sILk0ZT1hA .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-sILk0ZT1hA .form-group {
  margin-bottom: 1rem;
}
.cid-sILk0ZT1hA .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-sILk0ZT1hA .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sILk0ZT1hA .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-sILk0ZT1hA .mbr-section-btn {
  margin: 0;
}
.cid-sILk0ZT1hA .mbr-section-btn .btn {
  margin: 0;
}
.cid-sILpRzdVrg .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 16px;
  position: absolute;
  right: 1rem;
  top: 30%;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sILpRzdVrg .nav-item,
.cid-sILpRzdVrg .nav-link,
.cid-sILpRzdVrg .navbar-caption {
  font-weight: normal;
}
.cid-sILpRzdVrg .nav-item:focus,
.cid-sILpRzdVrg .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-sILpRzdVrg .dropdown-item:hover:before {
    transform: scale(1, 1);
  }
}
.cid-sILpRzdVrg .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sILpRzdVrg .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-sILpRzdVrg .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-sILpRzdVrg .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:before {
  display: none;
}
.cid-sILpRzdVrg .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-sILpRzdVrg .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sILpRzdVrg .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sILpRzdVrg .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sILpRzdVrg .collapsed .icons-menu {
  padding-left: 16px;
}
.cid-sILpRzdVrg .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #000000;
}
.cid-sILpRzdVrg .navbar.opened {
  transition: all 0.3s;
  background: #000000 !important;
}
.cid-sILpRzdVrg .navbar .dropdown-item {
  padding: 0.235rem 2.5rem 0.235rem 1.5rem;
}
.cid-sILpRzdVrg .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sILpRzdVrg .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sILpRzdVrg .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sILpRzdVrg .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-sILpRzdVrg .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sILpRzdVrg .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-sILpRzdVrg .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sILpRzdVrg .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
  justify-content: center;
}
.cid-sILpRzdVrg .navbar.collapsed .icons-menu {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sILpRzdVrg .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sILpRzdVrg .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sILpRzdVrg .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-sILpRzdVrg .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sILpRzdVrg .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sILpRzdVrg .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sILpRzdVrg .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sILpRzdVrg .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
    justify-content: center;
  }
  .cid-sILpRzdVrg .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-sILpRzdVrg .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sILpRzdVrg .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sILpRzdVrg .navbar.navbar-short {
  background: #000000 !important;
  min-height: 60px;
}
.cid-sILpRzdVrg .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sILpRzdVrg .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-sILpRzdVrg .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sILpRzdVrg .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sILpRzdVrg .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sILpRzdVrg .navbar-brand .navbar-logo a img {
  width: auto;
}
.cid-sILpRzdVrg .dropdown-item.active,
.cid-sILpRzdVrg .dropdown-item:active {
  background-color: transparent;
}
.cid-sILpRzdVrg .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sILpRzdVrg .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sILpRzdVrg .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-sILpRzdVrg .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sILpRzdVrg .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sILpRzdVrg ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sILpRzdVrg .navbar-buttons {
  text-align: center;
}
.cid-sILpRzdVrg .navbar-buttons .btn.btn-sm {
  padding: 6px 24px !important;
  min-width: 140px;
  line-height: 1.5;
}
.cid-sILpRzdVrg button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sILpRzdVrg button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sILpRzdVrg button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sILpRzdVrg button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sILpRzdVrg button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sILpRzdVrg button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sILpRzdVrg nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sILpRzdVrg nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sILpRzdVrg nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sILpRzdVrg nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sILpRzdVrg .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-sILpRzdVrg a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-sILpRzdVrg .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-sILpRzdVrg .soc-item {
  margin: 0.5rem 0.3rem;
}
.cid-sILpRzdVrg .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-right: 1rem;
  text-align: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sILpRzdVrg .navbar {
    height: 77px;
  }
  .cid-sILpRzdVrg .navbar.opened {
    height: auto;
  }
  .cid-sILpRzdVrg .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
