body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-svHUPgk0oj {
  padding-top: 225px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/man-3.jpg");
}
.cid-svHUPgk0oj .mbr-section-title {
  margin-bottom: 1.8rem;
}
.cid-svHUPgk0oj .mbr-text {
  margin-bottom: 2.7rem;
}
@media (max-width: 767px) {
  .cid-svHUPgk0oj .align-center {
    text-align: center;
  }
}
.cid-svHUPgk0oj .mbr-text,
.cid-svHUPgk0oj .mbr-section-btn {
  text-align: center;
  color: #ffe161;
}
.cid-smdOtXxgXR {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-smdOtXxgXR nav.navbar {
  position: fixed;
}
.cid-smdOtXxgXR .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-smdOtXxgXR .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-smdOtXxgXR .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-smdOtXxgXR .dropdown-item:hover,
.cid-smdOtXxgXR .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-smdOtXxgXR .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-smdOtXxgXR .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-smdOtXxgXR .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-smdOtXxgXR .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-smdOtXxgXR .nav-link {
  position: relative;
}
.cid-smdOtXxgXR .container {
  display: flex;
  margin: auto;
}
.cid-smdOtXxgXR .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-smdOtXxgXR .dropdown-menu,
.cid-smdOtXxgXR .navbar.opened {
  background: #ffffff !important;
}
.cid-smdOtXxgXR .nav-item:focus,
.cid-smdOtXxgXR .nav-link:focus {
  outline: none;
}
.cid-smdOtXxgXR .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-smdOtXxgXR .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-smdOtXxgXR .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-smdOtXxgXR .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-smdOtXxgXR .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-smdOtXxgXR .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-smdOtXxgXR .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-smdOtXxgXR .navbar.opened {
  transition: all 0.3s;
}
.cid-smdOtXxgXR .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-smdOtXxgXR .navbar .navbar-logo img {
  width: auto;
}
.cid-smdOtXxgXR .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-smdOtXxgXR .navbar.collapsed {
  justify-content: center;
}
.cid-smdOtXxgXR .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-smdOtXxgXR .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-smdOtXxgXR .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-smdOtXxgXR .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-smdOtXxgXR .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-smdOtXxgXR .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-smdOtXxgXR .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-smdOtXxgXR .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-smdOtXxgXR .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-smdOtXxgXR .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-smdOtXxgXR .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-smdOtXxgXR .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-smdOtXxgXR .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-smdOtXxgXR .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-smdOtXxgXR .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-smdOtXxgXR .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-smdOtXxgXR .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-smdOtXxgXR .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-smdOtXxgXR .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-smdOtXxgXR .navbar.navbar-short {
  min-height: 60px;
}
.cid-smdOtXxgXR .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-smdOtXxgXR .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-smdOtXxgXR .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-smdOtXxgXR .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-smdOtXxgXR .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-smdOtXxgXR .dropdown-item.active,
.cid-smdOtXxgXR .dropdown-item:active {
  background-color: transparent;
}
.cid-smdOtXxgXR .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-smdOtXxgXR .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-smdOtXxgXR .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-smdOtXxgXR .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-smdOtXxgXR .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-smdOtXxgXR .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-smdOtXxgXR ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-smdOtXxgXR .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-smdOtXxgXR button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-smdOtXxgXR button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-smdOtXxgXR button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-smdOtXxgXR button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-smdOtXxgXR button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-smdOtXxgXR button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-smdOtXxgXR nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-smdOtXxgXR nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-smdOtXxgXR nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-smdOtXxgXR nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-smdOtXxgXR .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-smdOtXxgXR a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-smdOtXxgXR .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-smdOtXxgXR .navbar {
    height: 70px;
  }
  .cid-smdOtXxgXR .navbar.opened {
    height: auto;
  }
  .cid-smdOtXxgXR .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-svHX4u7Nsw {
  background-image: url("../../../assets/images/mbr-4.jpg");
}
.cid-svHX4u7Nsw .mbr-text,
.cid-svHX4u7Nsw .mbr-section-btn {
  color: #bbbbbb;
}
.cid-svHX4u7Nsw .mbr-section-subtitle {
  color: #ff9966;
}
.cid-svI0UaCmI6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-svI0UaCmI6 .card-title {
  margin-bottom: 0.5rem;
}
.cid-svI0UaCmI6 .card-box {
  z-index: 10;
  position: relative;
  margin-bottom: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 1500px) {
  .cid-svI0UaCmI6 .container {
    max-width: 1400px;
  }
}
.cid-svI0UaCmI6 .card {
  margin: auto;
}
.cid-svI0UaCmI6 .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #1d2c35;
  margin-bottom: 2rem;
}
.cid-svI0UaCmI6 .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-svI0UaCmI6 .row {
  margin: 0 auto;
  justify-content: center;
  width: 68%;
}
@media (max-width: 767px) {
  .cid-svI0UaCmI6 .row {
    width: 95%;
  }
}
@media (max-width: 991px) {
  .cid-svI0UaCmI6 .row {
    width: 85%;
  }
}
.cid-sDx1hg1JbW {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f8f8f8;
}
.cid-sDx1hg1JbW .container {
  max-width: 1500px;
}
.cid-sDx1hg1JbW .row {
  background: #333333;
}
.cid-sDx1hg1JbW .img-col {
  padding: 0;
}
.cid-sDx1hg1JbW .title-col {
  padding: 4rem 6rem;
}
.cid-sDx1hg1JbW img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-sDx1hg1JbW h2 {
  padding: 0;
  margin: 0;
}
.cid-sDx1hg1JbW .text-wrap {
  margin: auto;
}
.cid-sDx1hg1JbW .mbr-text {
  color: #fff0b0;
}
@media (max-width: 1200px) {
  .cid-sDx1hg1JbW .row {
    margin: 2rem;
  }
  .cid-sDx1hg1JbW .title-col {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  .cid-sDx1hg1JbW .row {
    margin: 0rem;
  }
  .cid-sDx1hg1JbW .title-col {
    padding: 2rem 1rem;
  }
}
.cid-sDx1hg1JbW H2 {
  color: #ffffff;
}
.cid-sDx2ZYgtDi {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-sDx2ZYgtDi .container-fluid {
  padding: 0 !important;
}
.cid-sDx2ZYgtDi .col-md-12 {
  padding: 0;
}
.cid-sDx2ZYgtDi .row {
  margin: 0;
  flex-wrap: nowrap;
}
.cid-sDx2ZYgtDi .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cid-sDx2ZYgtDi .mbr-section-title {
  margin-bottom: 3rem;
}
.cid-sDx2ZYgtDi .number-wrap {
  color: #12265a;
  border: 2px dashed #fa9db7;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  padding: 1rem;
  width: 210px;
}
@media (min-width: 1199px) {
  .cid-sDx2ZYgtDi .number-wrap {
    min-width: 250px;
  }
}
.cid-sDx2ZYgtDi .number {
  font-style: normal;
  font-weight: 900;
  font-size: 6.9rem;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1;
  color: #ffc85b;
}
.cid-sDx2ZYgtDi .period {
  display: block;
  line-height: 1;
}
.cid-sDx2ZYgtDi .dot {
  display: none;
}
@media (max-width: 991px) {
  .cid-sDx2ZYgtDi .wrapper {
    padding: 0 0.5rem;
  }
  .cid-sDx2ZYgtDi .number-wrap {
    width: 150px;
  }
  .cid-sDx2ZYgtDi .col-xs-3 {
    padding: 0 0.5rem;
  }
  .cid-sDx2ZYgtDi .number {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-sDx2ZYgtDi {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .cid-sDx2ZYgtDi .number-wrap {
    padding: 0.4rem;
    width: 100px;
    border-radius: 20px;
  }
  .cid-sDx2ZYgtDi .col-xs-3 {
    padding: 0 0.3rem;
  }
  .cid-sDx2ZYgtDi .number {
    font-size: 2rem;
  }
}
@media (max-width: 440px) {
  .cid-sDx2ZYgtDi .number-wrap {
    padding: 0.1rem 0;
    width: 75px;
  }
  .cid-sDx2ZYgtDi .col-xs-3 {
    padding: 0 0.2rem;
  }
}
@media (max-width: 380px) {
  .cid-sDx2ZYgtDi .period {
    font-size: 0.8rem;
  }
}
.cid-skNTCoFwM1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-skNTCoFwM1 .timeline-element {
  position: relative;
}
.cid-skNTCoFwM1 .timelines-container {
  display: flex;
  flex-wrap: wrap;
}
.cid-skNTCoFwM1 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-skNTCoFwM1 .mbr-section-title,
.cid-skNTCoFwM1 .mbr-section-subtitle,
.cid-skNTCoFwM1 .timeline-date {
  text-align: center;
}
.cid-skNTCoFwM1 .iconBackground {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #6592e6;
  margin-left: -9px;
}
@media (max-width: 767px) {
  .cid-skNTCoFwM1 .iconBackground {
    left: 15px;
    top: 30px;
  }
}
@media (min-width: 768px) {
  .cid-skNTCoFwM1 .iconBackground {
    top: 70px;
    left: 50%;
  }
}
.cid-skNTCoFwM1 .row:after {
  content: "";
  position: absolute;
  background-color: #6592e6;
  width: 2px;
}
@media (max-width: 767px) {
  .cid-skNTCoFwM1 .row:after {
    height: calc(100% + 30px);
    top: 50px;
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-skNTCoFwM1 .row:after {
    height: calc(100% + 28px);
    top: 90px;
    left: 50%;
  }
}
@media (max-width: 767px) {
  .cid-skNTCoFwM1 .timeline-date-wrapper,
  .cid-skNTCoFwM1 .timeline-text-wrapper,
  .cid-skNTCoFwM1 .image-wrapper {
    padding: 0rem;
    padding-left: 2rem;
  }
  .cid-skNTCoFwM1 .mbr-timeline-date {
    text-align: center !important;
  }
  .cid-skNTCoFwM1 .mbr-timeline-title {
    text-align: center;
    margin-top: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-skNTCoFwM1 .timeline-date-wrapper,
  .cid-skNTCoFwM1 .timeline-text-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-skNTCoFwM1 .timeline-date-wrapper,
  .cid-skNTCoFwM1 .timeline-text-wrapper,
  .cid-skNTCoFwM1 .image-wrapper {
    padding: 2rem;
  }
}
.cid-svI2Wb9uIo {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-6.jpg");
}
.cid-svI2Wb9uIo .video-wrapper iframe {
  width: 100%;
}
.cid-svI2Wb9uIo .mbr-section-title,
.cid-svI2Wb9uIo .mbr-section-subtitle,
.cid-svI2Wb9uIo .mbr-text {
  text-align: center;
}
.cid-svI2Wb9uIo .mbr-section-title {
  padding: 0;
  margin: 0;
  padding-bottom: 100px;
  color: #e43f3f;
}
.cid-svI2Wb9uIo .mbr-text {
  padding-top: 16px;
}
.cid-svI4ZdrlES {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-svI4ZdrlES .contacts-name {
  padding-bottom: 5px;
  margin: 0;
  color: #a3a6b2;
}
.cid-svI4ZdrlES .contacts-info {
  padding-bottom: 30px;
  color: #ffffff;
  margin: 0;
}
.cid-svI4ZdrlES .margin {
  margin-bottom: 10px;
}
.cid-svI4ZdrlES .mbr-section-title {
  color: white;
  margin-bottom: 20px;
  padding: 0;
}
.cid-svI4ZdrlES .description {
  color: #a3a6b2;
  margin-bottom: 50px;
  padding: 0;
}
.cid-svI4ZdrlES .title {
  font-size: 24px;
}
.cid-svI4ZdrlES .form-heading {
  margin-bottom: 40px;
}
.cid-svI4ZdrlES label {
  color: #ffffff;
  margin-bottom: 5px;
}
.cid-svI4ZdrlES input,
.cid-svI4ZdrlES textarea {
  background-color: #3F424E;
  margin-bottom: 30px;
}
.cid-svI4ZdrlES .gray-button {
  margin: 0;
  background-color: #3F424E;
  color: #ffffff;
}
.cid-svI4ZdrlES .mbr-section-btn {
  margin: 0;
  padding: 0;
}
.cid-svI4ZdrlES .form-group {
  padding: 0 5px;
  margin: 0;
}
.cid-svI4ZdrlES .left-side {
  padding: 0;
}
@media (max-width: 1000px) {
  .cid-svI4ZdrlES .gray-button {
    margin-bottom: 50px;
    margin-top: 0px;
  }
}
.cid-svI4ZdrlES .gray-button:hover {
  background-color: #5e6068;
}
.cid-svI4ZdrlES ::placeholder {
  color: #a3a6b2;
}
.cid-skUl0ClPru {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-skUl0ClPru .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-skUl0ClPru .card {
    margin-bottom: 2rem!important;
  }
  .cid-skUl0ClPru .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-skUl0ClPru .link-wrap {
    align-items: center;
  }
}
.cid-skUl0ClPru .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-skUoLM40UC {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-skUoLM40UC .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-skUoLM40UC .card {
    margin-bottom: 2rem!important;
  }
  .cid-skUoLM40UC .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-skUoLM40UC .link-wrap {
    align-items: center;
  }
}
.cid-skUoLM40UC .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sl05YbWXzH {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sl05YbWXzH .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-sl05YbWXzH .card {
    margin-bottom: 2rem!important;
  }
  .cid-sl05YbWXzH .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-sl05YbWXzH .link-wrap {
    align-items: center;
  }
}
.cid-sl05YbWXzH .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sl09L4kXvH {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sl09L4kXvH .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-sl09L4kXvH .card {
    margin-bottom: 2rem!important;
  }
  .cid-sl09L4kXvH .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-sl09L4kXvH .link-wrap {
    align-items: center;
  }
}
.cid-sl09L4kXvH .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-skUw3Zyaq0 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-skUw3Zyaq0 .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-skUw3Zyaq0 .card {
    margin-bottom: 2rem!important;
  }
  .cid-skUw3Zyaq0 .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-skUw3Zyaq0 .link-wrap {
    align-items: center;
  }
}
.cid-skUw3Zyaq0 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-skUKbxaso2 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-skUKbxaso2 .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-skUKbxaso2 .card {
    margin-bottom: 2rem!important;
  }
  .cid-skUKbxaso2 .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-skUKbxaso2 .link-wrap {
    align-items: center;
  }
}
.cid-skUKbxaso2 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sl02HPEcrI {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sl02HPEcrI .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-sl02HPEcrI .card {
    margin-bottom: 2rem!important;
  }
  .cid-sl02HPEcrI .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-sl02HPEcrI .link-wrap {
    align-items: center;
  }
}
.cid-sl02HPEcrI .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-smaGapkRMT {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-smaGapkRMT .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-smaGapkRMT .card {
    margin-bottom: 2rem!important;
  }
  .cid-smaGapkRMT .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-smaGapkRMT .link-wrap {
    align-items: center;
  }
}
.cid-smaGapkRMT .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-smaPWc6poL {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-smaPWc6poL .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-smaPWc6poL .card {
    margin-bottom: 2rem!important;
  }
  .cid-smaPWc6poL .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-smaPWc6poL .link-wrap {
    align-items: center;
  }
}
.cid-smaPWc6poL .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-smaT4ikTqx {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-smaT4ikTqx .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-smaT4ikTqx .card {
    margin-bottom: 2rem!important;
  }
  .cid-smaT4ikTqx .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-smaT4ikTqx .link-wrap {
    align-items: center;
  }
}
.cid-smaT4ikTqx .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-smdOtXxgXR {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-smdOtXxgXR nav.navbar {
  position: fixed;
}
.cid-smdOtXxgXR .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-smdOtXxgXR .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-smdOtXxgXR .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-smdOtXxgXR .dropdown-item:hover,
.cid-smdOtXxgXR .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-smdOtXxgXR .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-smdOtXxgXR .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-smdOtXxgXR .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-smdOtXxgXR .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-smdOtXxgXR .nav-link {
  position: relative;
}
.cid-smdOtXxgXR .container {
  display: flex;
  margin: auto;
}
.cid-smdOtXxgXR .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-smdOtXxgXR .dropdown-menu,
.cid-smdOtXxgXR .navbar.opened {
  background: #ffffff !important;
}
.cid-smdOtXxgXR .nav-item:focus,
.cid-smdOtXxgXR .nav-link:focus {
  outline: none;
}
.cid-smdOtXxgXR .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-smdOtXxgXR .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-smdOtXxgXR .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-smdOtXxgXR .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-smdOtXxgXR .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-smdOtXxgXR .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-smdOtXxgXR .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-smdOtXxgXR .navbar.opened {
  transition: all 0.3s;
}
.cid-smdOtXxgXR .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-smdOtXxgXR .navbar .navbar-logo img {
  width: auto;
}
.cid-smdOtXxgXR .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-smdOtXxgXR .navbar.collapsed {
  justify-content: center;
}
.cid-smdOtXxgXR .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-smdOtXxgXR .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-smdOtXxgXR .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-smdOtXxgXR .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-smdOtXxgXR .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-smdOtXxgXR .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-smdOtXxgXR .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-smdOtXxgXR .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-smdOtXxgXR .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-smdOtXxgXR .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-smdOtXxgXR .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-smdOtXxgXR .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-smdOtXxgXR .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-smdOtXxgXR .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-smdOtXxgXR .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-smdOtXxgXR .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-smdOtXxgXR .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-smdOtXxgXR .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-smdOtXxgXR .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-smdOtXxgXR .navbar.navbar-short {
  min-height: 60px;
}
.cid-smdOtXxgXR .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-smdOtXxgXR .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-smdOtXxgXR .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-smdOtXxgXR .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-smdOtXxgXR .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-smdOtXxgXR .dropdown-item.active,
.cid-smdOtXxgXR .dropdown-item:active {
  background-color: transparent;
}
.cid-smdOtXxgXR .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-smdOtXxgXR .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-smdOtXxgXR .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-smdOtXxgXR .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-smdOtXxgXR .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-smdOtXxgXR .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-smdOtXxgXR ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-smdOtXxgXR .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-smdOtXxgXR button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-smdOtXxgXR button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-smdOtXxgXR button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-smdOtXxgXR button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-smdOtXxgXR button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-smdOtXxgXR button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-smdOtXxgXR nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-smdOtXxgXR nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-smdOtXxgXR nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-smdOtXxgXR nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-smdOtXxgXR .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-smdOtXxgXR a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-smdOtXxgXR .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-smdOtXxgXR .navbar {
    height: 70px;
  }
  .cid-smdOtXxgXR .navbar.opened {
    height: auto;
  }
  .cid-smdOtXxgXR .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
